.features{

    padding:100px 0;

    background:white;

}

.feature-card{

    background:#fff;

    border-radius:20px;

    padding:35px;

    text-align:center;

    transition:.4s;

    height:100%;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.feature-card:hover{

    transform:translateY(-10px);

    box-shadow:0 20px 45px rgba(37,99,235,.18);

}

.feature-icon{

    width:80px;

    height:80px;

    margin:auto;

    background:linear-gradient(135deg,#2563EB,#7C3AED);

    color:white;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:30px;

    margin-bottom:25px;

}

.feature-card h4{

    margin-bottom:15px;

    font-weight:600;

    color:#0F172A;

}

.feature-card p{

    color:#64748B;

    line-height:1.7;

}